<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-appscripts</string>
	<key>connections</key>
	<dict>
		<key>0DE16F6E-6B2E-4FD7-9146-87C526800384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E91E210D-F78B-4CB1-8B44-9A857473689C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BA77C1B-6BC1-4E2C-91B0-2455517B2092</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62BFD5A0-D2C6-4222-BF37-9F92C8A09F47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>62BFD5A0-D2C6-4222-BF37-9F92C8A09F47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDFDF78C-6D61-4023-99F9-CE926B973987</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>65556B95-5798-4CCA-8AA9-856795FAC78B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D6DEF2A-5AF8-4EE9-90B8-F54C11E3660C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8FFFB36-186D-46CC-995C-EBFCFA84296F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E91E210D-F78B-4CB1-8B44-9A857473689C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D6DEF2A-5AF8-4EE9-90B8-F54C11E3660C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF9E613E-CBA5-478B-B924-C1D0B0D88D1C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in AppleScript Editor</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD5D1469-1BD0-4F79-8E21-E3D2074DD472</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4E3668B-6F3C-48C6-8E03-E71815F3E389</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BA77C1B-6BC1-4E2C-91B0-2455517B2092</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Show Scripts for the Active Application</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppScripts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.as</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading scripts…</string>
				<key>script</key>
				<string>/usr/bin/python appscripts.py search "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Run a script from the active applications Scripts folder</string>
				<key>title</key>
				<string>Run Application Script</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E91E210D-F78B-4CB1-8B44-9A857473689C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Script Finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E8FFFB36-186D-46CC-995C-EBFCFA84296F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e

script="$1"
ext=${script:e}
name=${script:t:r}
opts=()

[[ $ext = "js" ]] || [[ $ext = "jxa" ]] &amp;&amp; opts+=(-l JavaScript)

echo "----------------------" &gt;&amp;2
echo "script=$script" &gt;&amp;2
echo "ext=$ext" &gt;&amp;2
echo "name=$name" &gt;&amp;2
echo "opts=$opts" &gt;&amp;2
echo "----------------------" &gt;&amp;2

# Run the script
osascript $opts "$script" 1&gt;&amp;2

# Send script name to Post Nofification
echo "$name"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D6DEF2A-5AF8-4EE9-90B8-F54C11E3660C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>active_app</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0DE16F6E-6B2E-4FD7-9146-87C526800384</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Utilities/Script Editor.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>AF9E613E-CBA5-478B-B924-C1D0B0D88D1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>DD5D1469-1BD0-4F79-8E21-E3D2074DD472</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F4E3668B-6F3C-48C6-8E03-E71815F3E389</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>appscripts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python appscripts.py config "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Help and Settings</string>
				<key>title</key>
				<string>AppScripts Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1BA77C1B-6BC1-4E2C-91B0-2455517B2092</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Configuration Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BDFDF78C-6D61-4023-99F9-CE926B973987</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python appscripts.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62BFD5A0-D2C6-4222-BF37-9F92C8A09F47</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>settings</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>65556B95-5798-4CCA-8AA9-856795FAC78B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DE16F6E-6B2E-4FD7-9146-87C526800384</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>1BA77C1B-6BC1-4E2C-91B0-2455517B2092</key>
		<dict>
			<key>note</key>
			<string>Show configuration options</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>62BFD5A0-D2C6-4222-BF37-9F92C8A09F47</key>
		<dict>
			<key>note</key>
			<string>Change configuration</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>65556B95-5798-4CCA-8AA9-856795FAC78B</key>
		<dict>
			<key>note</key>
			<string>Re-open workflow settings</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>6D6DEF2A-5AF8-4EE9-90B8-F54C11E3660C</key>
		<dict>
			<key>note</key>
			<string>Run the script</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>AF9E613E-CBA5-478B-B924-C1D0B0D88D1C</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>BDFDF78C-6D61-4023-99F9-CE926B973987</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>DD5D1469-1BD0-4F79-8E21-E3D2074DD472</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>E8FFFB36-186D-46CC-995C-EBFCFA84296F</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E91E210D-F78B-4CB1-8B44-9A857473689C</key>
		<dict>
			<key>note</key>
			<string>Show scripts for the active application</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>F4E3668B-6F3C-48C6-8E03-E71815F3E389</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.2.0</string>
	<key>webaddress</key>
	<string>www.deanishe.net</string>
</dict>
</plist>
